#myCarousel {
    height:300px;
}

#myCarousel a:link, #myCarousel a:visited {
    color: #666666;
}

#myCarousel a:hover {
    color: #666666 !important;
    text-decoration: none !important;
}

.item {
    height: 300px;
    width: 100% !important;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1;
    width: 100% !important;
}

.carousel-caption {
    position: absolute;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    padding: 0px 0px !important;
    width: 100% !important;
    background: rgba(0, 0, 0, 0.75);
}

.content-container #myCarousel, #myCarousel div {
    padding: 0px;
}

img#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-left {
    float: left;
    margin-right: 15px;
}

.teaching-meeting {
    padding-bottom: 15px;
}
