/**
 * Events CSS
 */

.event-title {
  display: inline-block;
  margin-bottom: 0;
}

.event-date {
  border: 1px solid #ddd;
  border-radius: 10px;
  display: inline-block;
  line-height: 1.1;
  max-height: 60px;
  padding: 3px 0;
  text-align: center;
  width: 45px;
}
.event-date > .day {
  font-size: 25px;
  font-weight: bold;
}
.event-date > .month {
  display: inline-block;
  width: 100%;
}
.event-date > .time {
  display: inline-block;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.event-date > .time.dawn,
.event-date > .time.dark {
  background-color: #35118a;
  color: #fff;
  font-weight: bold;
}
.event-date > .time.dawn {
  border-right: 5px solid #ffc048;
}
.event-date > .time.dusk,
.event-date > .time.light {
  background-color: #ffc048;
  font-weight: bold;
}
.event-date > .time.dusk {
  border-right: 5px solid #35118a;
}

.event-add-btn {
  margin: 20px 0 15px 0;
}