.row {
    margin: 0px !important;
    padding-bottom: 116px !important;
}

.row:hover > div {
  opacity: 0.5;
}

.row:hover > div:hover {
  opacity: 1.0;
}

.thumbnail {
    width: 245px;
    padding: 0px !important;
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #8CC43F !important;
}

section.parent {
    display: block;
}

.section-title {
    margin: -5px 0px !important;
}

.team {
   font-style: italic;
   color: #009242 !important;
   font-size: 15px;
   padding-bottom: 5px;
}

.contact {
   text-align: center;
}

.thumbnail a>img, .thumbnail>img {
   display: inline;
}

.description {  
    display: none;
    position: absolute;
    width: 243px;
    height: auto;
    background-color: #FFFFFF;
    z-index: 1;
    text-align: center;
}