/* ======================================================
 * NuLeaf Theme - Light
 * ======================================================
 * Organization:   NuLeaf Technologies
 * Lead Developer: Tuan Pham (https://github.com/ttpham0111)
 * ======================================================*/

/* =============
 * Theme Colors
 * =============*/

.theme-text {
  color: #056408;
}
.theme-text:hover {
  color: #3d5200;
  text-decoration: none;
}

/* Bootstrap Modifications */
.btn-default {
  background-color: #056408;
     -moz-border-radius: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: #fff;
}
.btn-default:hover, .btn-default:active, .btn-default:focus,
.btn-default:active:focus {
  background-color: #3d5200;
  color: #fff;
}
