/* ======================================================
 * Resource Pages Styles
 * ======================================================
 * Organization:   NuLeaf Technologies
 * Lead Developer: Tuan Pham (https://github.com/ttpham0111)
 * ======================================================*/

/* Event */
.event-title {
  display: inline-block;
  margin-bottom: 0;
}
.calendar {
  display: inline-block;
  background-color: #eee;
  border-radius: 7px;
  line-height: 1.1;
  max-height: 60px;
  padding: 0;
  text-align: center;
  width: 45px;
}
.calendar > .day {
  font-size: 25px;
  font-weight: bold;
}
.calendar > .month {
  background-color: #e7554e;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  color: #fff;
  display: inline-block;
  padding: 1px 0;
  width: 100%;
}

/* Steminar */
.steminar-body {
  background: #eee;
  padding: 15px;
}

 /* Buttons */
 .add-resource-btn {
  padding-top: 15px;
  padding-bottom: 15px;
}