/* ======================================================
 * Main Styles
 * ======================================================
 * Organization:   NuLeaf Technologies
 * Lead Developer: Tuan Pham (https://github.com/ttpham0111)
 * ======================================================*/

/* Page Styles */
body, html {
  height: 100%;
}
.page-title, .page-content {
  margin: 50px 0;
}

/* Nav Bar/Footer */
.nuleaf-navbar,
#main-footer {
  background-color: #333;
}
.nuleaf-navbar .navbar-toggle {
  color: #fff;
  margin: 4px 15px 4px 0;
  padding: 0 5px;
}
#main-navbar > .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 15px;
}
#main-navbar > .nav > li > a:focus,
#main-navbar > .nav > li > a:hover {
  background-color: #555;
}
#main-footer {
  color: #fff;
  line-height: 30px;
}
#main-footer a {
  color: #fff;
}

/* Navbar fixed-top fix */
.page-container {
  min-height: 96.9%;
  padding-top: 30px;
}

/* Overlay */
.overlay-img {
  overflow: hidden;
}
.overlay {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.overlay > .btn {
  background-color: rgba(0,0,0,0);
  border: 2px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 22px;
  margin-top: -23.5px;
  margin-left: -75.25px;
  position: absolute;
  top: 50%;
}
.overlay > .btn:hover {
  background-color: #555;
  background-color: rgba(255,255,255,0.3);
}

/* Authentication */
.login-panel {
  height: auto;
  margin: 15% auto 0 auto;
  max-width: 100%;
  width: 550px;
}

@media (max-width: 768px) {
  /* Custom Bootstrap-like CSS */
  .btn-block-xs {
    display: block;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .overlay-img.wide-md > img {
    max-width: 100%;
  }
}