.page-content:hover .thumbnail {
  opacity: 0.5;
}
.page-content:hover .thumbnail:hover {
  opacity: 1.0;
}
.member-profile {
  position: relative;
}
.thumbnail {
  background-color: #fff;
  z-index: 1;
}
.thumbnail > img {
  max-height: 250px;
  max-width: 250px;
  overflow: hidden;
}
.thumbnail:hover {
  margin-right: 15px;
  position: absolute;
}
.thumbnail:hover .caption {
  display: block;
}
.caption {
  display: none;
}
.contacts > a > img {
  display: inline;
}